<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head::head"></div>
<body>
	<div th:replace="fragments/header::authenticated"></div>
	<div class="container">
		<div th:replace="fragments/summary::summary('Budget', ${budgetSummary.budgeted})"></div>
		<br/>
        <div th:if="${param.categoryInsert}">
			<div class="alert alert-info alert-dismissible" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				 </button>
			     Category Inserted
			</div>
        </div>
		<div th:if="${#fields.hasErrors('${createBudgetForm.*}')}">
			<div class="alert alert-danger alert-dismissable" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				 </button>
				<ul class="bg-danger">
				  <li th:each="err : ${#fields.errors('${createBudgetForm.*}')}" 
					  th:text="${err}" >Input is incorrect</li>
				</ul>
			</div>
		</div>
		<form role="form" action="#" th:action="@{/budget/create}" th:object="${createBudgetForm}" method="POST">
			<fieldset>
				<div class="col-xs-5" style="padding-left: 0px;">
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" th:field="*{category.id}">
							<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">category
							</option>
						</select>
					</div>
					<a th:href="@{/category/create}">
						<button type="button" class="btn btn-md btn-info">+
							Create Category
						</button>
					</a>
				</div>
				<div class="col-md-7">
					<div class="form-group">
						<label for="amount">Amount</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="text" class="form-control"
								   th:field="*{amount}" placeholder="amount"/>
						</div>
					</div>
					<div class="pull-left">
						<input class="btn btn-lg btn-success" type="submit"
							value="+ Create"/>
					</div>
					<div class="pull-right">
						<a th:href="@{/budget}"><button type="button"
								class="btn btn-lg btn-danger" value="Cancel">Cancel</button></a>
					</div>
				</div>
			</fieldset>
		</form>



	</div>
</body>
</html>