<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head::head"></div>
<body>
<div th:replace="fragments/header::authenticated"></div>
<div class="container">
		<div th:replace="fragments/summary::summary('Spending', ${budgetSummary.budgeted}, 
		                                                      ${budgetSummary.spent}, 
		                                                      ${budgetSummary.left},
		                                                      ${budgetSummary.overBudget})"></div>
</div>
<div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
            </div>
			<table class="table">
                <thead>
                    <tr >
                        <th><input type="text" class="form-control" placeholder="Name" disabled="disabled"/></th>
                    </tr>
                </thead>
                <tbody>
					<tr th:each="expense : ${expenses}">
					   <td th:text="${expense.category.name}">#</td>
					   <td th:text="'$' + ${expense.amount}">#</td>
					   <td th:text="${expense.date}">#</td>
					   <td th:text="${expense.note}">#</td>
					   <td>
					       <a th:href="@{/expense/delete/} + ${expense.id}">
							   <button class="btn btn-sm btn-danger">
							     <span class="glyphicon glyphicon-trash"></span>
							   </button>
						   </a>
					   </td>
					</tr>
                </tbody>
            </table>	
	</div>
</div>
</body>
</html>