<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="unauthenticated">
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- /.navbar-header -->
        <div class="container-fluid">
            <div class="navbar-header">
				<a class="navbar-brand" th:href="@{/login}">Budget Manger</a>
            </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/signup}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
        </div>
    </nav>
    <!-- /#page-wrapper -->
</div>
</div>


<div th:fragment="authenticated(page)">
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- /.navbar-header -->
        <div class="container-fluid">
            <div class="navbar-header">
				<a class="navbar-brand" th:href="@{/budget}">Budget Manger</a>
            </div>
            <ul class="nav navbar-nav">
                <li th:classappend="${page} == 'budget' ? active : blank"><a th:href="@{/budget}">Budget</a></li>
                <li th:classappend="${page} == 'spending' ? active : blank"><a th:href="@{/spending}">Spending</a></li>
                <li th:classappend="${page} == 'trends' ? active : blank"><a th:href="@{/trends}">Trends</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                </ul>
        </div>
    </nav>
    <!-- /#page-wrapper -->
</div>
</div>
<script>

</script>

</body>
</html>