<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="fragments/head::head"></div>
<body>
<div th:replace="fragments/header::unauthenticated"></div>
<div th:replace="fragments/title::title('Budget Manager')"></div>
<div class="container">



    <div class="row vertical-offset-100">
        <div class="col-md-6 col-md-offset-3">
        <div th:if="${param.error}">
			<div class="alert alert-danger alert-dismissable" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			     <span class="sr-only">Error:</span>
			     Username/Password not found
			</div>
        </div>
        <div th:if="${param.logout}">
			<div class="alert alert-info alert-dismissable" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			     You have been logged out
			</div>
        </div>
        <div th:if="${param.signup}">
			<div class="alert alert-success alert-dismissable" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				 </button>
			     Signup successful
			</div>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="#" th:action="@{/j_spring_security_check}" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value=""/>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" name="submit" value="Login"/>
                            <label> Dont have an accout?</label>
                            <a th:href="@{/signup}">Sign up</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>