<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head::head"></div>
<body>
<div th:replace="fragments/header::header"></div>
<div th:replace="fragments/title::title('Budget Manager')"></div>
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-6 col-md-offset-3">
			<div th:if="${#fields.hasErrors('${userForm.*}')}">
				<ul class="bg-danger">
				  <li th:each="err : ${#fields.errors('${userForm.*}')}" 
					  th:text="${err}"
					  >Input is incorrect</li>
				</ul>
			</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="#" th:action="@{/j_spring_security_check}" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value=""/>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" name="submit" value="Login"/>
                            <label> Dont have an accout?</label>
                            <a th:href="@{/signup}">Sign up</a>
                        </fieldset>
                    </form>
                <!-- 
                    <form role="form" action="#" th:action="@{/login}" th:object="${userForm}" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" th:field="*{username}" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" th:field="*{password}" type="password" value=""/>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login"/>
                            <label> Dont have an accout?</label>
                            <a th:href="@{/signup}">Sign up</a>
                        </fieldset>
                    </form>
 -->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>