<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <?php startblock('css') ?>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <?php endblock() ?>

    <title>Budget Manager</title>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- /.navbar-header -->
        <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand" href="/budget/index">Budget Manger</a>
        <!-- /.navbar-header 
                <?php if(Session::get('loggedin')) : ?>
                    <a class="navbar-brand" href="/budget/index">Budget Manger</a>
                <?php else : ?>
                    <a class="navbar-brand" href="/pages/login">Budget Manager</a>
                <?php endif ?>
-->
            </div>
<!--
            <?php startblock('left-nav-buttons') ?>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Budget</a></li>
                <li><a href="#">Tracking</a></li>
                <li><a href="#">Analysis</a></li>
            </ul>
            <?php endblock() ?>
            <?php if(Session::get('loggedin')) : ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/pages/logoutAction"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                </ul>
-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/pages/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/pages/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
<!--
            <?php else : ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/pages/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/pages/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            <?php endif ?>
  -->
        </div>
    </nav>
    <!-- /#page-wrapper -->
</div>

    <!-- title baseeComponents content -->


<?php emptyblock('title') ?>
<?php emptyblock('baseComponents') ?>
<?php emptyblock('content') ?>
</body>
</html>